html body {
    margin: 0px;
}

.main {
    background-color: #212121;
}
.txt {
    color: white;
}
.bubble {
    margin: auto;
    height : auto;
    width: 95%;
    background-color: #404242;
}
.title {
    color: white;
    font-size: 300%;
}
.img {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}
.img2 {
    max-height: 300px;
    max-width: 300px;
}
.profiletxt {
    font-size: 3em;
    color: white;
    font-family: "Roboto", arial;
}
.profiletxt2 {
    font-size: 1.5em;
    color: white;
    font-family: "Roboto", arial;
}
.bubbleprofile {
    margin: auto;
    width: 98%;
    background-color: #292929;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 1px 20px  black;
    padding-top: 1em;
    padding-bottom: 1em;
}
.bubbletxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.bubbleimg{
    padding-left: 5em;
    padding-right: 5em;

    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonarea {
    background-color: #292929;
    height: 50px;
    width: auto;
    box-shadow: 1px 1px 20px black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.spacer {
    height: 20px;
}
.imgBackground {
    height: 160px;
    width: 100%;
    object-fit: cover;
}
.welcometxt{
    color: white;
    font-size: 5em;
    font-weight: bold;
    font-family: "Roboto", arial;
    text-shadow: 4px 4px 6px black;
}
.welcometxt2{
    color: white;
    font-size: 1.5em;
    font-family: "Roboto", arial;
}
.welcometxt3{
    color: white;
    font-size: 1.5em;
    font-family: "Roboto", arial;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smalltxt {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    margin-left: 10em;
    margin-right: 10em;
}
.centered {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Pictures/Deskcropped.jpg);
}
.catcentered {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Pictures/CS/Main.jpg);
}
.botcentered {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292929;
}
.button {
    color:  white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    font-family: "Roboto", arial;
    background: none;
    border: none;
    transition-duration: 0.4s;
}

.button:hover {
    transform: scale(1.2);
}


.aboutme {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Pictures/Deskcropped.jpg);
}
.gifstyle {
    box-shadow: 1px 1px 20px whitesmoke;
    margin: 15px;
    width: 32em;
    height: auto;
    border-radius: 10px;
}
.bubbleproject {
background-color: #292929;
margin: 15px;
box-shadow: 1px 1px 20px black;

display: flex;
align-items: center;
justify-content: center;
flex-grow: 1;

transition-duration: 0.4s;
border-radius: 25px;
}
.bubbleproject:hover {
    transform: scale(1.1);
}
.projectscope {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
}
.projects {
    color: white;
    font-size: 3em;
    font-family: "Roboto", arial;
    font-weight: bold;
    text-decoration: none;  
    padding: none;  
    margin: auto;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
}
.Bottom {
    background-color: #292929;
    margin: auto;
    margin-top: 15px;
    box-shadow: 1px 1px 20px black;
    color: white;
    font-family: "Roboto", arial;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text {
    color: white;
    font-family: "Roboto", arial;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: .5em;
}
.list {
    color: white;
    font-family: "Roboto", arial;
    font-weight: bold;
    font-size: 1em;
    padding-left: 5em; 
}
.bubbleAM {
    margin: auto;
    width: 98%;
    background-color: #292929;
    box-shadow: 1px 1px 20px  black;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.repl {
    margin: auto;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.downloadbtn {
    background-color: #3773d4;
    box-shadow: 1px 1px 20px  black;
    width: 98%;
    margin: auto;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

    color: white;
    font-family: "Roboto", arial;
    font-weight: bold;
    font-size: 3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    transition-duration: 0.4s;
}
.downloadbtn:hover{
    transform: scale(.9);
}
.flexcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.catsimmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 10em;
    padding-right: 10em;

}

.h3- {
    color: lightgrey;
    font-family: "Roboto", arial;
    font-size: 1em;
}
.wrapimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.medimg {
    box-shadow: 1px  1px 20px black;
    height: auto;
    width: 30em;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1- {
    color: white;
    font-family: "Roboto", arial;
    font-weight: bold;
    font-size: 3em;
}
.vidcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5em;
    margin-bottom: 5em;
}
.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bigimg {
    width: 30em;
    height: auto;
    box-shadow: 1px 1px 30em black;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.icon {
    width: auto;
    height: 8em;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px){
    .img{
        max-height: 50px;
        max-width: 50px;
    }
    .profiletxt{
        font-size: 1em;
    }
    .profiletxt2{
        font-size: .5em;
    }
    .bubbleimg{
        padding-left: 1em;
        padding-right: 1em;
    }
    .medimg{
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 20em;
    }
    .h1-{
        font-size: 1.5em;
    }
    .welcometxt{
        font-size: 2.5em;
    }
    .smalltxt{
        margin-left: 3em;
        margin-right: 3em;
    }
    iframe{
        width: 300;
        height: 200;
    }
    .icon {
        height: 4em;
    }
}